<%- include('../../header') %>
    <h2>
        Admin categorias
        <a href="/admin/categorias/add">Cadastrar categoria</a>
    </h2>
    <div>
        <ul>
            <% categorias.forEach( categoria => { %>
                <li>
                    <%- categoria.categoria %> | 
                    <a href="/admin/categorias/editar/<%- categoria.id %>">Editar</a> | 
                    <a href="/admin/categorias/delete/<%- categoria.id %>">Excluir</a>
                </li>
            <% }) %>
        </ul>
    </div>
<%- include('../../footer') %>
